<%= form_for(@periodo) do |f| %>
  <% if @periodo.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% @periodo.errors.each_with_index do |message, i| %>
        <li><%= message[1] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group <%= 'has-error' if @periodo.errors[:nombre].any? %>">
    <%= f.label :nombre, class: "control-label" %><br>
    <%= f.text_field :nombre, class: "form-control" %>
  </div>
  <div class="field form-group <%= 'has-error' if @periodo.errors[:descripcion].any? %>">
    <%= f.label :descripcion, class: "control-label" %><br>
    <%= f.text_area :descripcion, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Confirmar", class: "btn btn-default" %>
  </div>
<% end %>
