<div class="container">
<p id="notice"><%= notice %></p>

<h1>Período</h1>
<p>
  <strong>Nombre:</strong>
  <%= @periodo.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @periodo.descripcion %>
</p>

<%= link_to 'Edit', edit_periodo_path(@periodo) %> |
<%= link_to 'Back', periodos_path %>
</div>