<%= form_for(@dinosaurio) do |f| %>
  <% if @dinosaurio.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% @dinosaurio.errors.each_with_index do |message, i| %>
        <li><%= message[1] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group <%= 'has-error' if @dinosaurio.errors[:nombre].any? %>">
    <%= f.label :nombre, class: "control-label" %>
    <%= f.text_field :nombre, class: "form-control"  %>
  </div>
  <div class="field form-group <%= 'has-error' if @dinosaurio.errors[:periodo].any? %>">
    <%= f.label :periodo, class: "control-label" %>
    <%= collection_select :dinosaurio, :periodo_id, Periodo.all, :id, :nombre, {prompt: false}, {class: "form-control"} %>
  </div>
  <div class="field form-group <%= 'has-error' if @dinosaurio.errors[:icono].any? %>">
    <%= f.label :icono %>
    <%= f.file_field :icono %>
  </div>
  <h3>Descripciones</h3>
  <div class="form-group">
    <%= f.fields_for :descripciones do |p| %>
      <%= render "descripcion_fields", :f => p %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Agregar descripcion', f, :descripciones %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Registrar', class: "btn btn-default" %>
  </div>
<% end %>
