<div class="container">
<p id="notice" class="bg-success"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @dinosaurio.nombre %>
  <%= @dinosaurio.descripciones.size %>
</p>

<strong>Descripcion:</strong>
<% @dinosaurio.descripciones.each do |descripcion| %>
	<p>
	  <%= descripcion.contenido %>
	</p>
<% end %>

<p>
  <strong>Periodo:</strong>
  <%= @dinosaurio.periodo.nombre  unless @dinosaurio.periodo.nil? %>
</p>

<p>
	<strong>Icono</strong>
	<img src="<%= @dinosaurio.icono.url %>" />
	<%= @dinosaurio.pathImagen %>
</p>

<%= link_to 'Editar', edit_dinosaurio_path(@dinosaurio) %> |
<%= link_to 'Volver', dinosaurios_path %>
</div>