<div class="container">
<h1>
  <%= link_to :admin, class: "pull-right btn btn-default" do %>
    <span class="glyphicon glyphicon-cog"></span>
    Administración
  <% end %>
  Listado de cuestionarios
  <%= link_to new_cuestionario_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-plus"></span> Nuevo
  <%end%>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuestionarios.each do |cuestionario| %>
      <tr>
        <td><%= cuestionario.nombre %></td>
        <td><%= button_to 'Show', cuestionario, method: :get, class: "btn btn-default" %></td>
        <td><%= button_to 'Edit', edit_cuestionario_path(cuestionario), method: :get, class: "btn btn-default" %></td>
        <td><%= button_to 'Destroy', cuestionario, method: :delete, data: { confirm: "¿Seguro que desea eliminar #{cuestionario.nombre}?" }, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>