<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cuestionario.nombre %>
</p>

<p>
  <strong>Preguntas:</strong>
</p>

<% @cuestionario.preguntas.each do |pregunta| %>
	<%=	pregunta.contenido %> <br>
	<ul>
		<% pregunta.respuestas.each_with_index do |respuesta, index| %>
		<li <%= "style=color:green;" if respuesta.es_correcta %>><%= respuesta.contenido %></li>
		<% end %>
	</ul>
<% end %>

<%= link_to 'Editar', edit_cuestionario_path(@cuestionario) %> |
<%= link_to 'Volver', cuestionarios_path %>
</div>