<div class="container">
<h1>    
  <%= link_to :admin, class: "pull-right btn btn-default" do %>
    <span class="glyphicon glyphicon-cog"></span>
    Administración
  <% end %>
  Listing usuarios
  <%= button_to new_user_path, method: :get, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-plus"></span> Nuevo
  <%end%>
</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Miembro desde</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td>
          <% if current_user.es_admin %>
            <%= button_to edit_user_path(user), method: :get, class: 'btn btn-default' do %>
              <i class="glyphicon glyphicon-edit"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if current_user.es_admin and user.id != current_user.id %>
            <%= button_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
              <i class="glyphicon glyphicon-remove"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>