<div class="container">
	<h1><%= @recorrido.nombre %></h1>
		<% @recorrido.estacions.each_with_index do |estacion, index| %>
		<div class="panel panel-default">
      <div class="panel-heading">
		<h3 class="panel-title">Estacion <%= index + 1 %> - <%= estacion.dinosaurio.nombre unless estacion.dinosaurio.nil? %> </h3>
      </div>
      <div class="panel-body">
		<img src="<%= estacion.dinosaurio.icono.url %>" class="pull-right" style="max-width: 90px; max-height: 90px" />
		<ul>
			<% estacion.preguntas.each do |pregunta| %>
				<li><b><%= pregunta.contenido %></b>
					<ul>
					<% pregunta.respuestas.each do |respuesta| %>
						<li><%= respuesta.contenido %> </li>
					<% end %>
					</ul>
				</li>
			<% end %>
		</ul>
	</div>
</div>
		<% end %>
	</ul>
</div>