<div class="container">
<p id="notice"><%= notice %></p>

<h1>Pregunta
	<%= link_to edit_pregunta_path(@pregunta), class: "btn btn-default" do %>
		<span class="glyphicon glyphicon-edit"></span>
	<% end %>
</h1>

<h4>
	<%=	@pregunta.contenido %> <br>
</h4>
<p><b>Respuestas:</b></p>
<ol class="lista-respuestas">
	<% @pregunta.respuestas.each_with_index do |respuesta, index| %>
	<li <%= "style=color:green;" if respuesta.es_correcta %>>
		<%= respuesta.contenido %> <br> 
		<small><b>Feedback: </b><%= respuesta.feedback %></small>
	</li>
	<% end %>
</ol>


<%= link_to 'Volver', preguntas_path, class: "btn btn-default" %>
</div>