<!DOCTYPE html>
<html>
<head>
  <title>Oculus</title>
  <%= favicon_link_tag 'Oculus.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="nabvar-header navbar-brand" >
			<!-- <%= image_tag 'Oculus.png', size: "40x40", style: "top:-30px" %> -->
			<%= link_to "Oculus for Education", root_url %>
		</div>
		<% if current_user %>
			<button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		
			<div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= link_to current_user.first_name, admin_path %>
				</li>
				<li>
				<li> <a href="/logout_user">Cerrar Sesion</a></li>
				</li>
			</ul>
		</div>
		<% end %>
	</div>
	<div class="dino-logo hidden-sm hidden-xs">
		<%= link_to image_tag( "logo.png", size: "50%"), root_url %>
	</div>
</nav>
<%= yield %>


<% if current_user %>
	<ul class="menu-lateral-admin">
		<li>
			<%= link_to :periodos do %>
				<span class="glyphicon glyphicon-time"></span>
				<i>Periodos</i>
			<% end %>
		</li>
		<li>
			<%= link_to :dinosaurios do %>
				<span class="glyphicon glyphicon-eye-open"></span>
				<i>Dinosaurios</i>
			<% end %>
		</li>
		<li>
			<%= link_to :recorridos do %>
				<span class="glyphicon glyphicon-road"></span>
				<i>Recorridos</i>
			<% end %>
		</li>
		<li>
			<%= link_to :preguntas do %>
				<span class="glyphicon glyphicon-question-sign"></span>
				<i>Preguntas</i>
			<% end %>
		</li>
		<li>
			<%= link_to :users do %>
				<span class="glyphicon glyphicon-user"></span>
				<i>Usuarios</i>
			<% end %>
		</li>
	</ul>
<% end %>

</body>
</html>
